
header {
    background: #006bb7;
}
.header-bg{
    width: 100%;
    height: 120px;
    background: url(../images/header-bg.png) no-repeat;
    
}
.content {
    width: 1200px;
    margin: 0 auto; 
}

.content1 {
    width: 1220px;
    min-height: 1300px;
    margin: 0 auto;
    background: #fff;
}

.header-top {
     height :80px;
     
}

.header-top-l, .header-top-r{
    height: 80px;
    line-height: 80px;
}

.header-top-l .NBAlogo{
    padding-top: 10px;
}

.header-top-l a:hover {
    text-decoration: none;
}

.header-top-l .NBAtext1 {
    padding-left: 8px;
    font-size: 38px;
    font-weight: bold;
    color: #fff;
}

.header-top-l .NBAtext2 {
    font-size: 25px;
    color: #00aeff;
}

.header-top-r {
    position: relative;
    margin-top: -15px;
    margin-right: 16px;
}

.header-top-r a {
    position: relative;
    padding-left: 5px;
}

.header-top-r a i {
    display: block;
    width: 10px;
    height: 5px;
}

.header-top-r .down {
    position: absolute;
    top: 0px;
    right: -12px;
    background: url(images/triangle_down_new_d66543.png) no-repeat;
}

.header-top-r .up {
    position: absolute;
    top: 0px;
    right: -12px;
    background: url(images/triangle_up_new_d66543.png) no-repeat;
}



/*
.header-top-r .a-btn {
    background: url(images/nbastore.png) no-repeat;
}
*/


.header-top-r ul {
    display: none;
    position: absolute;
    top: 50px;
    right: -15px;
    border-radius: 5px;
}
.header-top-r  ul li {
/*    float: left;*/
    padding-left: 15px;
    width: 80px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-align: left;
    background: #002f50;  
}

.header-top-r  ul li:hover {
    background: #2464b5;
}

.header-top-r  ul li a {
    color: #fff;
    font-size: 14px;
    
}






/*导航栏*/
.header-bottom {
    position: relative;
    height: 40px;
}

.header-bottom-left-nav {
    margin-left: 15px;
/*    margin-bottom: 5px;*/
}

 .header-bottom-left-nav ul li {
    position: relative;
/*    margin-top: -3px;*/
    float: left;
    width: 80px;
    height: 40px;
/*    line-height: 35px;*/
    text-align: center;
     background: url(../css/images/arrow_down.png) no-repeat 60px 20px;
} 

/*
.header-bottom-left-nav ul li a {
    padding: 5px;
    color: #fff;
}
*/
.header-bottom-left-nav ul li a {
/*    padding: 5px 0px;*/
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;  
    color: #fff;
}

.header-bottom-left-nav ul li a:hover {
    color: #00aeff;
    text-decoration: none;
}

.header-bottom-left-nav ul li ul {
    display: none;
}

.header-bottom-left-nav ul li ul{
/*    margin-top: 9px;  */
    margin-left: 10px;
}

.header-bottom-left-nav ul li ul li {
    width: 160px;
    height: 40px;
    color: #FFF;
    text-align: left;
    background: #002f50;
}
.header-bottom-left-nav ul > li > ul > li > a {
    font-size: 14px;
    padding-left: 15px;
}
.header-bottom-left-nav ul > li > ul > li:hover {
    background: #2464b5;
}

.header-bottom-left-nav ul li:hover .ul1 {
   display: block;
}
.header-bottom-left-nav ul li ul {
    position: relative;
}
.header-bottom-left-nav ul li ul .subtab-icon {
    position: absolute;
    top: -6px;
    left: 22px;
    display: block;
    width: 12px;
    height: 6px;
    background: url(../css/images/nav-menu-arrow_4dfd68.png) no-repeat;
} 
.header-bottom-left-nav .no-arrow {
    background: none;
}

.header-bottom-left-nav ul li .nav-team {
    display: -none;
    position: absolute;
    top: 40px;
    left: -335px;
    width: 1196px;
    height: 440px;
    background: #fff;
    font-size: 100px;
    z-index: 1627;
    border: 2px solid #002f50;
/*    box-sizing: content-box;*/
}


.header-bottom-left-nav ul li:hover .nav-team {
    display: block;
}

.header-bottom-left-nav .nav-team .east-team {
    float: left;
    display: block;
    width: 597px;
    height: 440px;
/*    background: green;*/
    border-right: 1px solid #aaa;
}
.header-bottom-left-nav .nav-team .team-title {
    
    width: 597px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    background: #002f50;
}
.header-bottom-left-nav .nav-team .team-area {
    float: left;
    font-size: 14px;
    width: 199px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f7f5f5;  /*将颜色提取成伪类，方便修改*/
}
.header-bottom-left-nav .nav-team li{
    background: none;
}
.header-bottom-left-nav .nav-team .team-list {
    width: 597px;
    height: 70px;
}

.header-bottom-left-nav .nav-team .team-list a {
    padding-left: 111px;
    display: block;
    float: left;
    width: 88px;
    height: 70px;
    line-height: 70px;
    color: #2866b6;
    font-size: 14px;
    background: url(../images/homepageteamlogos.png) no-repeat;
}
.header-bottom-left-nav .nav-team .team-list a:hover {
    background-color: #e5e5e5;   /*如果只用background就会覆盖掉url*/
}



/*官方写法*/
.header-bottom-left-nav .nav-team a.label-hornets {
    background-position: 35px -922px;
}
.header-bottom-left-nav .nav-team a.label-cavaliers {
    background-position: 38px -492px;;
}
.header-bottom-left-nav .nav-team a.label-raptors {
    background-position: 36px -330px;
}
.header-bottom-left-nav .nav-team a.label-hawks {
    background-position: 37px -839px;
}
.header-bottom-left-nav .nav-team a.label-bulls {
    background-position: 41px -418px;
}
.header-bottom-left-nav .nav-team a.label-knicks {
    background-position: 37px -167px;
}
.header-bottom-left-nav .nav-team a.label-wizards {
    background-position: 39px -1170px;
}
.header-bottom-left-nav .nav-team a.label-pistons {
    background-position: 37px -572px;
}

.header-bottom-left-nav .nav-team a.label-celtics {
    background-position: 38px -8px;
}

.header-bottom-left-nav .nav-team a.label-magic {
    background-position: 36px -1084px;
}

.header-bottom-left-nav .nav-team a.label-pacers {
    background-position: 37px -651px
}

.header-bottom-left-nav .nav-team a.label-nets {
    background-position: 38px -93px;
}
.header-bottom-left-nav .nav-team a.label-heat {
    background-position: 37px -1006px;
}
.header-bottom-left-nav .nav-team a.label-bucks {
    background-position: 39px -740px;
}
.header-bottom-left-nav .nav-team a.label-sixers {
    background-position: 39px -248px;
}


.header-bottom-left-nav .nav-team .west-team {
    float: left;
    display: block;
    width: 597px;
    height: 439px;
    background: blue;
    border-left: 1px solid #aaa;
}

.header-bottom-left-nav ul li div ul {
   margin: 0;  /* ul默认左右有margin*/
}







.header-bottom-rightbox {
    width: 100px;
    background: red;
}

.header-bottom-rightbox .nav-serch {
    display: block;
/*    display: inline-block;*/
    padding-right: 15px;
    width: 35px;
    height: 30px;
    cursor: pointer;
    background: url(images/icon_search_white.png) no-repeat center; 
}

.header-bottom-rightbox .nav-user {
    display: block;
    padding-right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(images/icon_user.png) no-repeat; 
}






/*导航栏固定*/
.nav-fixed {
    margin: 0 auto;
    display: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #006bb7;
    z-index: 888;
}
.nav-fixed .NBA-logo {
    margin-left: 75px;
    padding-left: 30px;
    display: block;
    float: left;
    width: 16px;
    height: 50px;
    line-height: 50px;
    font-size: 33px;
    background: url(../css/images/logo-new-small_7ac3d0.png) no-repeat 0px center;
}
.nav-fixed {
    color: #FFF;
    font-weight: 600;
    
    
}
.nav-fixed ul{
/*    padding: 0px 0px;*/
    margin-left: 230px;
    
/*    line-height: 50px;*/
}

.nav-fixed ul li {
    
    float: left;
    width: 80px;
/*    height: 50px;*/
    
}

.nav-fixed ul>li>a {
/*    padding: 5px 0px 10px 0px;*/
    color:#fff;
    font-size: 16px;
}
.nav-fixed ul li a:hover {
    color: #00aeff;
    text-decoration: none;
/*    可合并*/
}


.nav-fixed .nav-user {
    padding-right: 55px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(images/icon_user.png) no-repeat 0 center; 
    
}











/*主体部分*/
.main-bg {
    width: 100%;
    min-height: 800px;
    background: url(../images/main-bg.jpg) no-repeat center
        0px;
    
}

/*
.main-body-wrap{
    min-height: 900px;
}
*/
.banner {
    padding: 30px 10px 10px 10px;
    width: 1200px;
    height: 150px;
}

.main-body-focus {
    width: 510px;
    height: 330px;
    background: #08c;
}


#owl-demo {
            position: relative;
            width: 510px;
            height: 330px;
        }
        
        #owl-demo .item {
            position: relative;
            display: block;
        }
        
        #owl-demo img {
            display: block;
            width: 510px;
            height: 330px;
        }
        
        #owl-demo b {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 78px;
            background: url(images/focus-item-bg.png);
        }
        
        #owl-demo span {
            position: absolute;
            left: 0;
            bottom: 35px;
            width: 100%;
            font: 20px "微软雅黑", "黑体";
            color: #fff;
            padding-left: 25px;
        }
        
        .owl-pagination {
            position: absolute;
            left: 0;
            bottom: 20px;
            width: 100%;
            height: 5px;
            text-align: center;
        }
        
        .owl-page {
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: 0 3px;
            border-radius: 50%;
            background: #979797;
            ;
            *display: inline;
            *zoom: 1;
        }
        
        .owl-pagination .active {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #fff;
        }
        
        .owl-buttons {
            display: none;
        }
        
        .owl-buttons div {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 80px;
            margin-top: -40px;
            text-indent: -9999px;
        }
        
        .owl-prev {
            left: 0;
            background-image: url(images/bg17.png);
        }
        
        .owl-next {
            right: 0;
            background-image: url(images/bg18.png);
        }
        
        .owl-prev:hover {
            background-image: url(images/bg19.png);
        }
        
        .owl-next:hover {
            background-image: url(images/bg20.png);
        }





/*主体新闻*/
.main-body-artiles {
    margin-top: -10px;  /*负数顶上去*/
    width: 360px;
    height: 330px;
/*    background: red;*/
}

.main-body-artiles ul li {
    position: relative;
/*    display: list-item;*/
    width: 350px;
    height: 86.5px;
/*    line-height: 20px;*/
    border-top: solid 1px #ccc;
/*    clear: both;*/
}

.main-body-artiles ul li:first-child {
    border-top: none;
}

.main-body-artiles ul li a {

}
.main-body-artiles img {
    margin: 10px auto;
    float: left;
    width: 92px;
    height: 67px;

}
.main-body-artiles i {
    position: absolute;
    top: 15px;
    left: 103px;
    width: 260px;
    font-size: 14px;
}



.main-body-important-news {
    width: 300px;
    height: 330px;
    background: url(../images/inpnews.png) no-repeat;
}

.main-body-important-news span {
    padding-left: 25px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    
}

.main-body-important-news .important-news-switch {
/*    width: 50px;*/
    float: right;
    padding-left: 30px;
    margin-right: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background: url(/images/inpnews-sync.png) no-repeat 5px 12px;
    
}

.main-body-important-news .important-news-list ul li {
    padding-left: 10px;
    float: left;
    width: 300px;
    height: 29px;
    font-size: 14px;
    line-height: 29px;
}

.demobox{
    
}
.main-wrap-left-news {
    width: 900px;
    height: 640px;
/*    background: #06c;*/
}

.main-wrap-left-news .left-news-title h2 {
    display: inline-block;
    float: left;
/*    width: 88px;*/
    height: 36px;
    line-height: 36px;
    font-size: 22px;
    font-style: 'Microsoft Yahei';
    font-weight: normal;
    padding-left: 30px;
    color: #2464b5;
    border-bottom: 3px solid #e11647;
    background: url(../css/images/news-title-icon.png) no-repeat left center;
    
}
.main-wrap-left-news .left-news-title {
/*    margin-right: 20px;*/
    border-bottom: 1px solid #ccc;
}
.main-wrap-left-news .left-news-switch {
/*    padding-left: 20px;*/
    width: 82px;
    height: 39px;
    line-height: 39px;
/*     margin-right: 20px;*/
    background: url(../css/images/icon_16_addteam.png) no-repeat right center;
}

.main-wrap-left-news a {
    font-size: 16px;
   
}
.main-wrap-left-news a:hover {
    color: none;
   
}

.main-wrap-left-news .news-switchbtn {
    display: inline-block;
    height:30px;
    line-height: 30px;
    float: right;
    padding-left: 20px;
/*    margin-right: 20px;*/
    background: url(../images/switch-icon_bule.png) no-repeat left center;
}

.main-lastest-news-article-t .lastest-news-article1 , .lastest-news-article2 {
    position: relative;
    float: left;
    width: 440px;
    height: 314px;
/*    background: #08c;*/
}


.main-lastest-news-article-t a img {
    width: 440px;
    height: 314px;
    transition: all 0.6s; 
    
}

.main-lastest-news-article-t img:hover {
    transform: scale(1.1);
}
.main-lastest-news-article-b img:hover {
    transform: scale(1.1);
}
.main-lastest-news-article-t .news-wrap {
    width: 440px;
    height: 314px;
    overflow: hidden;
}
.main-lastest-news-article-b img {
    width: 290px; 
    height: 200px;
    transition: 1s;
}
.main-lastest-news-article-b .news-wrap {
    width: 290px;
    height: 200px;
    overflow: hidden;
}



.main-lastest-news-article-t .article-title {
    padding-left: 40px;
    background: url(../css/images/icon_24_news_white_db31d6.png) no-repeat 10px 4px; 
}
.main-lastest-news-article-t span {
    display: inline-block;
    width: 440px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: #fff;
    font-size: 18px;
}

.main-lastest-news-article-b .lastest-news-articlea, .lastest-news-articleb , .lastest-news-articlec {
    float: left;
    width: 290px;
    height: 306px;
/*    background: #ccc;*/
}


.main-lastest-news-article-b .articleb-title {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
}
.main-lastest-news-article-b .articleb-time {
    display: block;
    padding: 10px 5px 0px 0px;
    width: 280px;
    height: 20px;
    text-align: right;
    font-size: 12px;
    background: url(../css/images/icon_16_pic_black_57c359.png) no-repeat 10px 15px;
}

.main-wrap-left-news .main-lastest-more-info {
    display: inline-block;
    width: 890px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #2464B5;
    text-align: center;
    cursor: pointer;
    background: #F0F0F0;
}

.main-lastest-more-info .moreinfo-btn {
    padding-right: 15px;
    background: url(../css/images/icon_16_arrow_right_blue.png) no-repeat
    right center;
}
.main-lastest-more-info .moreinfo-btn1 {
    padding-right: 15px;
    background: url(../css/images/icon_16_arrow_right_white_1c5432.png) no-repeat
    right center;
}

/*
.main-wrap-left-news .main-lastest-more-info :hover {
    text-decoration: none;
    width: 890px;
    height: 30px;
    color: #fff;
    display: inline-block;
    background: url(../css/images/icon_16_arrow_right_white_1c5432.png) no-repeat right center #08c;

}
*/
/*
.main-lastest-more-info .moreinfo-btn:hover {
     background: url(../css/images/arrow_down.png) no-repeat center;
}
   
*/


/*球队排名*/
.main-wrap-right-rank {
    width: 300px;
    height: 640px;
    background: #ccc;
}

/*  视频  */
.video {
/*    display: inline-block;*/
    width: 1200px;
    height: 591px;
/*    background: #08c;*/
}

.nav-tab {
    display: inline-block;
    width: 1200px;
    height: 39px;
    border-bottom: 1px solid #ccc;
}
.nav-tab .video-logo {

    padding:0px 70px 0px 35px;
    float: left;
    color: #2464b5;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    background: url(../css/images/video-title-ico.png) no-repeat left center;
}
.tab-wrap .active{
    border-bottom: 3px solid red;
}
.nav-tab span {
    float: left;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

}
.nav-tab a {
    float: right;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

}

.video_img_tra {
    margin-left: -10px;
    width: 1220px; 
    height: 550px;  
    display: none;
}
.video_img_tra li {
    float: left;
    width: 285px;  
    height: 250px;
    margin: 10px 10px; 
}
.video_img_tra a {  
    position: relative;
    float: left;
    width: 285px;  
    height: 230px;  
}

.video_img_tra a .img-wrap {
    width: 285px;  
    height: 230px;
    overflow: hidden;

}
.video_img_tra a img {  
/*                cursor: pointer;  */
    transition: all 0.6s;  
}  
.video_img_tra a img:hover {  
    transform: scale(1.1);  
}
.video_img_tra a i {
/*                display:inline-block;*/
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 285px;
    height: 50px;
    line-height: 65px;           /*非规则行高*/
    color: #fff;
/*                vertical-align: middle;*/
    background: url(../css/images/mask-bg_f650a0.png) no-repeat;

}
.video_img_tra div i b {
    padding-left: 100px;
    float: left;
    width: 50px;
    height: 50px;
/*                vertical-align: middle;*/
    z-index: 10;
    background: url(../css/images/icon_16_video_white_c131c8.png) no-repeat 20px 25px;
}
.video_img_tra a  .news-title {
    display: inline-block;
    float: left;
    width: 285px;
    height: 40px;
    line-height: 40px;
    color: black;
}






/*专题*/
.special-topic {
    width: 1200px;
    height: 508px;
/*    background: #ccc;*/
}

.special-topic-title {
    display: inline-block;
    padding-left: 30px;
    width: 1170px;
    height: 40px;
    color: #2464b5;
    font-size: 22px;
    font-weight: none;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    background: url(../css/images/special-topic-icon.png) no-repeat left center;
}

.special-topic-container-wrap {
    display: inline-block;
    width: 1200px;
    height: 446px;
/*    background: #000;*/
}

.special-topic-container {
    width: 918px;
    height: 436px;
}
.special-topic-container li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
    width: 285px;
    height: 203px;
    background: #804db4;
}
.special-topic-container a>img {
    width: 285px;
    height: 203px;   
}

.special-topic-container li {
    position: relative;
}
.special-topic-container li .bottom-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 285px;
    height: 40px;
}

/*调查*/
.special-topic-research {
    position: relative;
    margin-left: -20px;
    width: 285px;
    height: 446px;
}

.research-title {
/*    width: 282px;*/
    height: 40px;
    padding-left: 15px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
/*    text-align: center;*/
    background: #2464b5;
}

.research-choice {
/*    padding: 15px;*/
    width: 285px;
    height: 350px;
    background: url(../css/images/research-choice.png)no-repeat;
}

.research-choice p {
    font-size: 14px;
    padding: 15px;
}
.research-choice ul li label {
    padding: 5px;
    margin-left: 16px;
    display: block;
    width: 200px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}

.research-choice .fl {
    margin-right: 6px;
}


.foul-handbook {
    position: absolute;
    bottom: 17px;
    left: o;
    
}




/*媒体分享*/
.media-share {
    width: 1200px;
    height: 80px;
/*    background: #06c;*/
}

.media-share-list ul li {
/*    display: inline-block;*/
    margin-left: 13px;
    float: left;
    width: 136px;
    height： 78px;
/*    background: #ccc;*/
    border: 1px solid #ccc;
    border-radius: 4px;
}

.media-share-list ul li:first-child {
    margin-left: 2px;
}


.media-share-list a>img {
    float: left;
    margin: 17px 0px 17px 12px;
    width: 44px;
    height: 44px;
}
.media-share-list a>span{
/*    display: block;*/
/*    MARGIN-left: 10px;*/
    float: right;
    width: 77px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    font-size: 14px;

}
.media-share-list ul li {
    position: relative;
}

/*
.media-share-list .media-qrcore {
    
    
   
     background: #aaa;
}
*/
#media-share div {
    display: none;
    position: absolute; 
    bottom: 80px;
    left: 0px; 
    
}
#media-share div>img{
    width: 138px;
    height: 138px;
    border-radius: 4px;
    cursor: pointer;
}

/*合作伙伴*/

.NBA-partner {
    width: 1200px;
    height: 245px;
/*    background: #aaa;*/
}

.NBA-partner-title {
    display: inline-block;
    width: 1200px;
    height: 39px;
    font-size: 14px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.NBA-partner .partner-logo-top a{
    display: inline-block;
    width: 120px;
    height: 60px;
    float: left;
    font-size: 0;  /*消除img相邻的原有间隙*/
    background: #08c;
}


.NBA-partner .partner-logo-bottom {
    display: inline-block;
    background: #08c;
    font-size: 0;  /*消除img相邻的原有间隙*/
}

.NBA-partner .nbabusiness {
    padding: 20px 0px 10px 2px;
}




.footer-wrap{
    width: 100%;
    height: 415px;
}

.footer-bg {
    width: 100%;
    height: 250px;
    background: url(../images/footer-bg_90221b.png) no-repeat #012f50;
}

.about-nav ul li {
    width: 210px;
    float: left;
    
}
.about-nav ul>li>span{
/*    padding:30px 0px;*/
    display: block;
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 18px;
    
}
.about-nav ul li a {
    margin-bottom: 7px;
    display: block;
    width: 200px;
    color: #fff;
    font-size: 14px;
    float: left;
}
.about-nav ul li>img {
    width: 110px;
    height: 110px;
}

.footer-bootom {
/*    padding: 30px 0px;*/
    width: auto;
    height: 165px;
    background: #1f2428;
}
.footer-bootom .copyright-text > p {
    padding-bottom: 12px;
    width: 1200px;
    text-align: center;
    color: #fff;
    
}
.footer-bootom .copyright-text > p:first-child{
    padding-top: 30px;
    
}
