@charset "uft-8 ";
/*重置样式 可以覆盖*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;}


body { background: #FFF; color: #000; font-size: 12px; font-style: normal; font-family:'Microsoft Yahei','寰蒋闆呴粦','Simsun','瀹嬩綋','Arial', sans-serif;}
em, b, i { font-style:normal;}
li { list-style:none;}
img { border:none;}
a { text-decoration:none; color:#244666;}
a:hover { text-decoration:underline; color:#f50;}
table { border-spacing:0; border-collapse:collapse;}


/*通用*/
.hide {display: none;}
.flt {float:left;}
.frt {float:right;}
.clear { clear: both;}
.clearfix { *zoom: 1;} 
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}
.ml28 {margin-left: 28px;   /*这里通用的属性可以放上面*/}
.ml20 {margin-left: 20px;}
.mt15 {margin-top: 15px;}

header {
    background: #006bb7;
}
.header-bg{
    width: 100%;
    height: 120px;
    background: url(../images/header-bg.png) no-repeat;
    
}
.content {
    width: 1200px;
    margin: 0 auto; 
}

.content1 {
    width: 1220px;
    min-height: 1000px;
    margin: 0 auto;
    background: #fff;
}

.header-top {
     height :80px;
     
}

.header-top-l, .header-top-r{
    height: 80px;
    line-height: 80px;
}

.header-top-l .NBAlogo{
    padding-top: 10px;
}

.header-top-l a:hover {
    text-decoration: none;
}

.header-top-l .NBAtext1 {
    padding-left: 8px;
    font-size: 38px;
    font-weight: bold;
    color: #fff;
}

.header-top-l .NBAtext2 {
    font-size: 25px;
    color: #00aeff;
}

.header-top-r {
    margin-top: -15px;
}

.header-top-r a {
    padding-left: 5px;
}



/*导航栏*/
.header-bottom {
    height: 40px;
}

.header-bottom-left-nav {
    margin-left: 15px;
}

 .header-bottom-left-nav ul >li {
    position: relative;
    margin-top: -3px;
    float: left;
    width: 80px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    
} 

.header-bottom-left-nav ul >li >a {
/*    position: relative;*/
    color: #fff;
}

.header-bottom-left-nav ul li a:hover {
    color: #00aeff;
    text-decoration: none;
}

.header-bottom-rightbox .nav-serch {
    padding-right: 13px;
    width: 35px;
    height: 30px;
    cursor: pointer;
    background: url(images/icon_search_white.png) no-repeat center; 
}

.header-bottom-rightbox .nav-user {
    padding-right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(images/icon_user.png) no-repeat; 
}

.nav-submenu {
    margin-top: 5px;
}
.header-bottom-left-nav .nav-submenu {
    position: absolute;
    top： 0;
    left: 0;
    width: 120px;
/*    display: none;*/
    
}

.header-bottom-left-nav .nav-submenu  li {
    width: 120px;
    height: 35px;
    background: #002f50;
/*    display: none;*/
}

.header-bottom-left-nav .nav-submenu  li>a {
    margin-left: -50px;
    font-size: 13px;
    color: #fff;
}

.header-bottom-left-nav ul li ul li {
    display: none;
}

 .header-bottom-left-nav ul li a:hover .nav-submenu {
    display: block;
}



/*主体部分*/
.main-bg {
    width: 100%;
    min-height: 700px;
    background: url(../images/main-bg.jpg) no-repeat center;
    
}

/*
.main-body-wrap{
    min-height: 900px;
}
*/
.banner {
    padding: 30px 10px 10px 10px;
    width: 1200px;
    height: 150px;
}

.main-body-focus {
    width: 510px;
    height: 330px;
    background: #08c;
}

/* flexslider */
.flexslider{position:relative;height:330px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:330px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../images/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../images/next.png) center center no-repeat;}





/*主体新闻*/
.main-body-artiles {
    margin-top: -10px;  /*负数顶上去*/
    width: 360px;
    height: 330px;
/*    background: red;*/
}

.main-body-artiles ul li {
    position: relative;
/*    display: list-item;*/
    width: 350px;
    height: 86.5px;
/*    line-height: 20px;*/
    border-top: solid 1px #ccc;
/*    clear: both;*/
}

.main-body-artiles ul li:first-child {
    border-top: none;
}

.main-body-artiles ul li a {

}
.main-body-artiles img {
    margin: 10px auto;
    float: left;
    width: 92px;
    height: 67px;

}
.main-body-artiles i {
    position: absolute;
    top: 15px;
    left: 103px;
    width: 260px;
    font-size: 14px;
}



.main-body-important-news {
    width: 300px;
    height: 330px;
    background: url(../images/inpnews.png) no-repeat;
}

.main-body-important-news span {
    padding-left: 25px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    
}

.main-body-important-news .important-news-switch {
/*    width: 50px;*/
    float: right;
    padding-left: 30px;
    margin-right: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background: url(/images/inpnews-sync.png) no-repeat 5px 12px;
    
}

.main-body-important-news .important-news-list ul li {
    padding-left: 10px;
    float: left;
    width: 300px;
    height: 29px;
    font-size: 14px;
    line-height: 29px;
}

.demobox{
    
}
.main-wrap-left-news {
    width: 880px;
    height: 640px;
/*    background: #06c;*/
}

.main-wrap-left-news .left-news-title h2 {
    display: inline-block;
    float: left;
/*    width: 88px;*/
    height: 36px;
    line-height: 36px;
    font-size: 22px;
    font-style: 'Microsoft Yahei';
    font-weight: normal;
    padding-left: 30px;
    color: #2464b5;
    border-bottom: 3px solid #e11647;
    background: url(../css/images/news-title-icon.png) no-repeat left center;
    
}
.main-wrap-left-news .left-news-title {
    border-bottom: 1px solid #ccc;
}
.main-wrap-left-news .left-news-switch {
/*    padding-left: 20px;*/
    width: 82px;
    height: 39px;
    line-height: 39px;
/*     margin-right: 20px;*/
    background: url(../css/images/icon_16_addteam.png) no-repeat right center;
}

.main-wrap-left-news a {
    font-size: 16px;
   
}
.main-wrap-left-news a:hover {
    color: none;
   
}

.main-wrap-left-news .switchbtn {
    display: inline-block;
    height:30px;
    line-height: 30px;
    float: right;
    padding-left: 20px;
    background: url(../images/switch-icon_bule.png) no-repeat left center;
}

.main-wrap-right-rank {
    width: 300px;
    height: 640px;
    background: #ccc;
}